.card {
  background-color: white;
  border-radius: 10px;
}

#wordsearch-container {
  position: absolute;
  top: 14px;
  left: 190px;
}

@media screen and (max-width: 550px) {
  #wordsearch-container {
    position: absolute;
    top: 60px;
    right: 16px;
  }
}
